body.dark-mode {
   background-color: #1f2e35;

   #root {
      .navigation {
         .navigation_box {
            &__navbar {
               &___navItems {
                  &____nav {
                     a {
                        color: #fff !important;
                     }
                  }
               }
            }
            &__hamburger {
               &___icon {
                  &____side {
                     background-color: #fff;
                  }
               }

               &___items {
                  background-color: #22343d;

                  &____head {
                     .material-symbols-rounded {
                        color: #fff;
                     }
                  }

                  &____nav {
                     a {
                        color: #fff;

                        &:hover {
                           background-color: rgba(0, 0, 0, 0.03);
                        }
                     }
                  }

                  #product,
                  #customers,
                  #pricing,
                  #resources {
                     a {
                        background-color: rgba(0, 0, 0, 0.03);
                     }
                  }
               }
            }
         }
      }
      .features {
         .container {
            .features_box {
               .ellipse_dark {
                  opacity: 1;
               }
               .ellipse {
                  opacity: 0;
               }
            }
         }
      }
      .section {
         .container {
            .section_box {
               .ellipse_dark {
                  opacity: 1;
               }
               .ellipse {
                  opacity: 0;
               }
            }
         }
      }
      .enterprise {
         .enterprise_box {
            .ellipse {
               background: #22343d;
            }
         }
      }
      .questions {
         .questions_box {
            &__questions {
               &___question:first-of-type {
                  border-top: none;
                  padding-top: 0;
                  margin-top: 0;

                  .paragraph_wrapper {
                     height: 0;
                  }
               }
               &___question {
                  border-top: 1px solid rgba(255, 255, 255, 0.075);
               }
            }
         }
      }
      .consumer_features {
         background: #22343d;
      }
      .offers {
         .offers_box {
            .ellipse {
               background: #22343d;
            }

            &__offers {
               &___offer {
                  p:first-of-type {
                     color: #fff;
                  }
                  p:last-of-type {
                     color: #fff;
                  }
                  &____categories {
                     p {
                        color: #fff !important;
                     }
                  }
               }
            }
         }
      }
      .header_resources {
         .header_box {
            .two-column {
               .left {
                  form.form {
                     input {
                        color: #fff;

                        &::placeholder {
                           color: #fff;
                        }
                     }
                  }
               }
            }
         }
      }
      .story {
         border: none;
      }
   }
}
