body {
   margin: 0;
   font-family: "Poppins", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: var(--transition) background;
}

body,
html {
   width: 100%;
   overflow-x: hidden;
   height: fit-content;
}

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

:root {
   --primary: #02897a;
   --text-dark: #2f281e;
   --text-dark--blue: #22343d;
   --transition: 0.2s;
}
